@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

h3 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

h4 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

h5 {
    font-size: 1.5rem;
    margin-top: 1rem;
}

code {
    background-color: #eee;
    border-radius: 10px;
    display: block;
    padding: 20px;
    color: blueviolet;
    text-align: left;
}

section {
    padding: 20px;
}

.flex {
    display: flex;
}

.main-transformation-container-divided {
    align-items: center;
}

.main-transformation-container-divided div {
    width: 50%;
    font-size: 1.3rem;
    color: whitesmoke;
}

.main-transformation-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgb(17, 17, 17);
    color: white;
    font-size: 1.2rem;
}

.main-transformation-container h3, h4 {
    color: white;
    text-align: center;
}

.astronaut-img {
    border-radius: 2rem;
    width: 20rem;
    height: 20rem;
    margin: 0 auto;
    transform: rotate(20deg);
}

.timing-image {
    width: 20rem;
    margin: 0 auto;
}
.translate-image {
    width: 150px !important;
    margin: 0 auto;
    height: 150px !important;
    border-radius: 50%;
}
.translate-image:hover {
    transform: translate(0px, -100%);
    transition-duration: 2s;
}
.translate-image:not(:hover) {
    transform: translate(0px, 0px);
    transition-duration: 2s;
}

.scale-image {
    transition: transform 1s ease-in-out;
    margin: 0 auto;
}

.scale-image:hover {
    transform: scale(0.5);
}

.transform-origin {
    margin: 0 auto;
    width: 30%;
    transition: transform 2s ease-in-out;
    transform-origin: left bottom;
}

.transform-origin:hover {
    transform: rotate(360deg);
}

.container {
    perspective: 800px;
}

.box {
    width: 200px;
    height: 200px;
    background-color: #3498db;
    color: #fff;
    text-align: center;
    line-height: 200px;
    font-size: 1.5em;
    transform-style: preserve-3d;
    transform: rotateX(45deg) rotateY(45deg);
    transition: transform 0.5s ease-in-out;
}

.box:hover {
    transform: rotateX(0deg) rotateY(0deg);
}


.section {
    text-align: center;
}
.transition-img {
    width: 70%;
    border-radius: 20px;
    margin-top: 10px;
}
.container-circles {
    width: 100% !important;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    padding: 10px 30px;
}
.container-circles:hover .circle {
    transform: scale(1.5);
    background-color: hotpink;
}
.circle {
    width: 100px !important;
    height: 100px !important;
    border-radius: 50%;
}  
.circle1 {
    background-color: blue;
    transition: background-color 0.5s ease, transform 1.5s;
}
.circle2 {
    background-color: red;
    transition: background-color 1s ease, transform 1s;
    transition-delay: 0.5s;
}
.circle3 {
    background-color: gray;
    transition: background-color 1.5s ease, transform 0.5s;
}